@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css or App.css */
.text-glow {
  text-shadow: 0 0 8px rgba(128, 0, 255, 0.8),
               0 0 12px rgba(255, 0, 255, 0.6);
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-text {
  background: linear-gradient(90deg, #a855f7, #ec4899, #facc15, #14b8a6);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 5s ease infinite;
}
